body{
    font-family: "Bangers";
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
}

main{
    width: 70%;
    min-height: 70%;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: main 1s ease-in;
}

@keyframes main {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

h1, h2{
    text-align: center;
    text-wrap: balance;
    letter-spacing: 3px;
}

h1{
    margin: 20px;
    font-size: 3rem;
    animation: headers 1s ease-in;
}

@keyframes headers {
    from{
        letter-spacing: 10px;
    }
    to{
        letter-spacing: 3px;
    }
}

.initialSection,
.questionSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label{
    width: 100%;
    display: block;
}

h3{
    text-align: center;
    text-transform: uppercase;
}

select{
    width: 50%;
    display: block;
    margin: 0 auto;

    padding: 13px;
    font-family: inherit;
    font-size: 1.6rem;
}

#startBtn,
#responseBtn{
    font-family: inherit;
    display: block;
    margin-top: 50px;
    padding: 20px 40px;
}

.answers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answerLabbel{
    display: flex;
    width: 80%;
    padding: 0 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 28px;
    font-size: 1.5rem;
}

.errorMessage{
    border: 2px solid red;
    padding: 8px;
}

.hidden{
    display: none;
}